{:paths ["src"]
 :deps {com.google.cloud/google-cloud-storage   {:mvn/version "2.42.0"}
        io.replikativ/konserve                  {:mvn/version "0.7.315"
                                                 :exclusions [com.github.pkpkpk/cljs-node-io
                                                              com.github.pkpkpk/fress
                                                              fress/fress
                                                              org.clojure/clojurescript
                                                              org.clojars.mmb90/cljs-cache]}}
 :aliases
 {:dev
  {:extra-paths ["test"]
   :extra-deps {com.literalco/konserve-compliance-tests {:git/url "https://github.com/The-Literal-Company/konserve-compliance-tests.git"
                                                         :git/sha "0fb62c46e2317d143dbf30001b6e36cad56de86f"
                                                         :exclusions [io.replikativ/konserve]}
                com.github.pkpkpk/fress {:mvn/version "0.4.312"
                                         :exclusions [org.clojure/clojurescript]}}}
  :test
  {:extra-paths ["test"]
   :exec-fn cognitect.test-runner.api/test
   :main-opts ["-m" "cognitect.test-runner"]
   :extra-deps {com.literalco/konserve-compliance-tests {:git/url "https://github.com/The-Literal-Company/konserve-compliance-tests.git"
                                                         :git/sha "0fb62c46e2317d143dbf30001b6e36cad56de86f"
                                                         :exclusions [io.replikativ/konserve]}
                com.github.pkpkpk/fress {:mvn/version "0.4.312"
                                         :exclusions [org.clojure/clojurescript]}
                io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                      :git/sha "dfb30dd"}}}}}